@import "../../0-partial/std-mixin.scss";
@import "../../0-partial/std-main.scss";
@import "../../0-partial/std-header.scss";

/*für die About me text classe*/
$at-heihgt: 25%;
$at-padding: 25px;
/*für das About me img*/
$ai-border: 50%;
$ai-width: 300px;
$ai-marginL: 20%;
$ai-marginB: 5%;
/*für das Thumbnail*/
$tn-marginT: 25px;
$tn-marginB: 25px;
/*für den Thumbnail title*/
$tt-height: 100px;
$tt-fontS: 34px;
/*für den Thumbnail Text*/
$tText-marginL: 2%;
$tText-marginB: 15px;
$Ttext-height: 100px;
$tText-font: 34px;
/*für das Thumbnail img*/
$ti-height: 250px;
$ti-width: 300px;
/*für den Layer*/
$layer-width: 100%;
$layer-height: auto;
$layer-top: 200px;
$layer-left: 0;

.aboutme-text{
    @include std-formatting();
    @include std-aboutmeText();

    margin: 0;
    margin-top: 5%;
    font-size: 18px;
    width: 90%;
}

.about-img{
    @include std-aboutmeImg();
    margin: 0;
    margin-left: 40%;
}

.main-title{
    @include std-title();
    font-size: 24px;
    margin-left: 5%;
}

.thumbnail{
    @include std-formatting();
    @include std-thumbnail();
    width: 250px;
    margin-left: 15%;
}

.thumbnail-title{
    @include std-thumbnailTitle();

    padding-top: 30px;
}
.thumbnail-text{
    @include std-thumbnailText();
    
}
.thumbnail-img{
    @include std-thumbnailImg();
    width: 250px;
}

.layer{
    @include std-layer();

    background-color: #28462a;
}

.layer-title{
    position: fixed;
    top: 0;
    left: 100px;

    width: 100%;
    height: 90px;

    text-align: left;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 70px;
    background-color: #416944;
}

.layer-img{
    width: 100%;
    height: 600px;
}

.layer-text{
    height: 800px;
    overflow: scroll;
    p{
        @include std-formatting();
        text-align: left;
        padding: 25px;
        font-size: 16px;
    }
}

.thumbnail-inline-content{
    display: inline;
    float: left;
    margin-right: 50px;
}

.thumbnail-inline{
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
}

.code-sample{
    overflow: scroll;
    width: 100%;
    background-color: #b1b1b1;
}